body {
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input, button{
  border-radius: 1em;
  background-color: #394447;
  color: white;
}

button:hover {
  box-shadow: .1em .1em .2em black;
}
.container {
  width: 200px;
  min-height: 200px;
  background-color: #394447;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.readySpeed {
  width: 50px;
  margin-bottom: 20px;
}
.acceptSpeed{
  margin-bottom:.5em;
}

.speedInput {
  width: 80%;
  margin:.2em;
}

p {
  color: white;
  margin: 0;
}
